extends ../base.pug

block variables
  - var template = 'home'

block content
  .home
    .home__wrapper
      .collections__titles
        each collection, index in collections
          .collections__title__label=`${home.data.collection} ${index == 0 ? 'one' : index == 1 ? 'Two': index == 2? 'Three': index == 3? 'Four': ''}`
          .collections__titles__title=collection.data.title
      .home__gallery
        each media in home.data.gallery
          figure.home__gallery__media
            img.home__gallery__media__image(alt=media.image.alt data-src=media.image.url)

      a.home__link(href=Link(home.data.collections))=home.data.button
        svg.home__link__icon(viewBox="0 0 288 60"  xmlns="http://www.w3.org/2000/svg")
          path( fill="none" d="M287.5 30C287.5 31.8967 286.58 33.8 284.718 35.6957C282.854 37.593 280.08 39.4473 276.463 41.2288C269.231 44.791 258.734 48.0128 245.721 50.7237C219.705 56.1438 183.741 59.5 144 59.5C104.259 59.5 68.2949 56.1438 42.2786 50.7237C29.2663 48.0128 18.7692 44.791 11.5372 41.2288C7.9202 39.4473 5.14588 37.593 3.28228 35.6957C1.42031 33.8 0.5 31.8967 0.5 30C0.5 28.1033 1.42031 26.2 3.28228 24.3043C5.14588 22.407 7.9202 20.5527 11.5372 18.7712C18.7692 15.209 29.2663 11.9872 42.2786 9.27629C68.2949 3.85622 104.259 0.5 144 0.5C183.741 0.5 219.705 3.85622 245.721 9.27629C258.734 11.9872 269.231 15.209 276.463 18.7712C280.08 20.5527 282.854 22.407 284.718 24.3043C286.58 26.2 287.5 28.1033 287.5 30Z" stroke="currentColor")



